@import "./main/stylesheet.scss";

@import "./main/reset";

html {
    font-size: 16px;
    line-height: 1.4;
    color: #000;
    background: #fff;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-weight: 400;
  }

.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}  

.header {
    background-image: url(../imgs/header.jpg) ;
    height: 100vh;
    background-repeat: no-repeat;

    &__content {
        text-align: center;
    }
    
    &__text {

        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #FFF;
        margin-top: 200px;
    }
    
    &__title {

        font-weight: 800;
        font-size: 48px;
        line-height: 64px;
        text-align: center;
        color: #FFF;
        max-width: 800px;
        margin: 0 auto;
        padding: 25px 0;
        
    }
 

    &__top {
        
    }
}

.header__btn {
    text-align: center;

}
    
.btn {
    display: inline-block;
    padding: 10px 60px;
    background: #4985FF;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
           
} 




.nav {

    &__list {
        margin-left: auto;
        max-width: 50%;
        flex: 0 0 50%;
    } 

    &__item {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 25px;    
    }


    &__link {
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: #FFF;
    
    }
} 


.second {

    &__top {}

    &__title {
        font-size: 36px;
        line-height: 53px;
        text-align: center;
        color: #323232;
        max-width: 740px;
        margin: 60px auto 0;
    }

    &__text {
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        color: #999;
        max-width: 730px;
        margin: 40px auto 0;
    }

    &__btn {
        text-align: center;
        padding-top: 50px;
}
}
.plans {

padding-top: 100px;
margin-bottom: 100px;
    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

}



.plan {
        display: flex;
        max-width: 33%;
        
        &__logo {
        text-align: center;
    
        }

        &__circle1 {
            border: 1px solid #4985FF;   
            border-radius: 50%;
            width: 90px;
            height: 90px;
            }

        

        &__circle2 {
            border: 1px solid #E0E0E0;   
            border-radius: 50%;
            width: 110px;
            height: 110px;
     
        }

        &__img-wrap {
     
      
        }

        &__img {
            max-width: 100%;
            
        }

        &__content {
            max-width: calc(100% - 50px);
            flex: 0 0 calc(100% - 50px);
            padding-left: 15px;
        }

        &__title {}
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #000;

        &__text {
            font-size: 14px;
            line-height: 22px;
            color: #999;
            font-weight: 400;
            padding-top: 15px;
            max-width: 220px;
        }
    }



    .development {
        background: #F6F6F8;
        
        &__about {
            display: flex;
        }

        &__content {
            max-width: 50%;
        }

        &__title {
            font-weight: bold;
            font-size: 36px;
            line-height: 53px;
            color: #323232;
            padding-top: 150px;
        }

        &__text {
            font-size: 16px;
            line-height: 25px;
            color: #999;
            padding-top: 30px;
            margin-bottom: 25px;
        }

        &__link {
            font-size: 16px;
            line-height: 20px;
            color: #4985FF;
        }

        &__img-wrap {
            padding-top: 100px;
            margin-left: 120px;
            max-width: 500px;
            margin-bottom: 70px;
        }

        &__img {}

    }

    .line {
        width: 1110px;
        border: 1px solid #E0E0E0;        
        padding: 0;

    }



    .projects {
    margin: 0;
    padding: 0;
 
        &__inner {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 70px;
            padding-bottom: 70px;
        }
    }

     .project {
        display: inline;

        &__img-wrap {
        display: flex;
                }

        &__img {}

        &__count {
            font-size: 36px;
            line-height: 53px;
            font-weight: normal;
            color: #000;
            padding-left: 15px;

        }

        &__text {
            font-weight: normal;
            font-size: 16px;
            line-height: 25px;
            color: #999;
            padding: 0;
        
            
        }
    }

.works {
    background: linear-gradient(to bottom, #504DC2 20%, #5F12D0 55%,  #FFF 40%, );
    padding: 100px 0 85px;

    &__background {}

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
}


   

    &__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 53px;
        color: #FFF;
        max-width: 50%;
        
    }

    &__btn {}

}

.presents {
   
    
    &__inner {
        display: flex;        
    }
      
}

.present {
    padding-right: 35px;
    &__img-wrap {}

    &__img {}

    &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        padding-top: 15px;
        margin-bottom: 15px;
    }

    &__text {
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;
        color: #999;
      }

    &__link {
    display: inline-block;
    padding-top: 15px;
    margin-bottom: 70px;
    color: #4985FF;
        }
}

.colortext {
    color: #4985FF;
    }

.our-projects {
    background: #F6F6F8;
    padding: 100px 0 120px;

    &__inner {
        text-align: center;
    }

    &__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 53px;
        color: #000;
    }

    &__text {
        padding-top: 50px;
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        color: #999;
        max-width: 730px;
        align-items: center;
        display: inline-flex;
    }

    &__photos {
        padding-top: 70px;
        display: flex;
        justify-content: space-between;

    }

    &__img-wrap {}

    &__img {}

    &__btn {
        padding-top: 50px;
    }
}  

.video {
    background-image: url(../imgs/Rectangle.jpg);
    height: 100vh;
    background-repeat: no-repeat;

    &__inner {
        text-align: center;
    }

    &__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 53px;
        text-align: center;
        color: #FFFFFF;
        padding-top: 70px;
    }

    &__text {
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
        padding-top: 30px;
    }

    &__img-wrap {
        padding-top: 70px;
        display: flex;
        justify-content: center;
    }

    &__img {}

    &__btn {
        position: absolute;
        padding-left: 50px;
        padding-bottom: 150px;
        
    }
    
}



.btn-2 {
    display: inline-block;
    padding: 40px 60px;
    background: #4985FF;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid #fff;   
    max-width: 300px;
    
    
    }