extends layout/layout

block vars
    - var pageTitle = 'Главная страница'
    - var pageBodyClass = 'homepage'
    - var pageHeaderClass = ''

block content
    section.header
        .container
            .hedaer__top 
                nav.nav
                    ul.nav__list
                        li.nav__item
                            a.nav__link(href="#") Главная
                        li.nav__item
                            a.nav__link(href="#") Наши проекты
                        li.nav__item
                            a.nav__link(href="#") Услуги
                        li.nav__item
                            a.nav__link(href="#") Новости
                        li.nav__item
                            a.nav__link(href="#") Контакты
            .header__content
                p.header__text Передовая IT студия
                h1.header__title Мы создаем легкие решения сложных задач и проблем
                .header__btn
                    a(href="#").btn Наши проекты
    section.second
        .container
            .second__top
                h2.second__title Мы создаем мобильные приложения для крупных корпораций
                p.second__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. 
            .plans
                .plans__inner
                    mixin plan()                
                        .plan
                            .plan__logo
                                .plan__circle1
                                    .plan__circle2
                                        .plan__img-wrap
                                            img.plan__img(src="../assets/imgs/project.svg")
                            .plan__content        
                                .plan__title Создание сайтов
                                .plan__text Lorem Ipsum - это текст- "рыба", часто используе в печати и вэб-дизайне.
                    +plan()
                    +plan()
                    +plan()
                .second__btn
                    a(href="#").btn Все услуги
    .development
        .container
            .development__about
                .development__content
                    h2.development__title Высокие стандарты разработки
                    p.development__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.  стандартной "рыбой" для текстов на латинице с начала XVI века. 
                    a(href="#").development__link Подробнее о компании
                .development__img-wrap 
                    img.development__img(src="../assets/imgs/standarts.jpg")
            .line
            .projects 
                .projects__inner
                    mixin project()                  
                        .project
                            .project__img-wrap 
                                img.project__img(src="../assets/imgs/web-programming.svg")
                                .project__count 125
                            p.project__text Our projects
                    +project()
                    +project()
                    +project()
                    +project()
                    +project()
                                       
    .works
        .works__background
            .container 
                .works__top
                    h2.works__title Наши работы, на которых мы специализируемся
                    .works__btn
                        a(href="#").btn Все услуги
                .presents
                    .presents__inner
                        mixin present()
                            .present
                                .present__img-wrap 
                                    img.present__img(src="../assets/imgs/present.png")
                                p.present__title <span class="colortext">01. </span> Исследование и упаковка
                                p.present__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                                a(href="#").present__link Подробнее
                        +present()
                        +present()
                        +present()
                    .line
    .our-projects 
        .container
            .our-projects__inner
                h2.our-projects__title Наши проекты
                p.our-projects__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. 
                .our-projects__photos
                    .our-projects__img-wrap
                        img.our-projects__img(src="../assets/imgs/project-photo.png")
                    .our-projects__img-wrap
                        img.our-projects__img(src="../assets/imgs/project-photo.png")
                    .our-projects__img-wrap
                        img.our-projects__img(src="../assets/imgs/project-photo.png")
                    .our-projects__img-wrap
                        img.our-projects__img(src="../assets/imgs/project-photo.png")                                                                                   
                .our-projects__btn
                    a(href="#").btn Все проекты
    .video
        .container 
            .video__inner 
                h2.video__title Видео о нашей работе
                p.video__text Просто посмотрите, как мы работаем
            .video__img-wrap 
                img.video__img(src="../assets/imgs/Rectangle 2.jpg")
            .video__btn
                a(href="#").btn-2 Смотреть видео
